<div class="m-alert success subscribe js-alert" data-notification="subscribe">
  {{block "Great! You've successfully subscribed."}}
  <button class="m-alert__close js-notification-close" aria-label="{{block "Close"}}">
    <span class="icon-close"></span>
  </button>
</div>

<div class="m-alert success signup js-alert" data-notification="signup">
  {{block "Great! Next, complete checkout for full access."}}
  <button class="m-alert__close js-notification-close" aria-label="{{block "Close"}}">
    <span class="icon-close"></span>
  </button>
</div>

<div class="m-alert success signin js-alert" data-notification="signin">
  {{block "Welcome back! You've successfully signed in."}}
  <button class="m-alert__close js-notification-close" aria-label="{{block "Close"}}">
    <span class="icon-close"></span>
  </button>
</div>

<div class="m-alert success checkout js-alert" data-notification="checkout">
  {{block "Success! Your account is fully activated, you now have access to all content."}}
  <button class="m-alert__close js-notification-close" aria-label="{{block "Close"}}">
    <span class="icon-close"></span>
  </button>
</div>